@model HomeViewModel
@{
    Layout = "_Layout";
}
<div>
    <h1>«Умный дом» — интеграция бытовых устройств, коммуникаций и оборудования,
        используемых ежедневно в быту, в единую автономную систему управления Smart room.</h1>
</div>