@{
    Layout = "_Layout";
}
<div class="center">
<div class="form-signin w-25 m-auto" style="color: black">
    <form asp-action="Add" method="post">
            <h1 class="h3 mb-3 fw-normal" style="color: white">Введите адрес дома</h1>

        <div class="form-floating m-2">
                <input type="text" class="form-control" id="Adress" name="Adress" required>
                <label for="Adress">Адрес</label>
        </div>
        <button class="w-50 btn btn-lg btn-primary" type="submit">Добавить</button>
    </form>
</div>
</div>

